/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-press-start);
  font-variation-settings: "wght" var(--font-press-start-normal);
  background-image: var(--gradient-primary);
  background-attachment: fixed;
  background-size: cover;
}
/*Резиновая ширина*/
.flex-width {
  width: var(--flex-width);
}

.header_title {
  display: flex;
  gap: 19px;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: 100px auto;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

.title {
  font-size: var(--headingPrimary);
}

.subtitle {
  text-transform: uppercase;
  font-size: var(--subheading);
}
/*Основной блок*/
.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 auto;
}

.section {
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.section_title {
  border-block-end: 2px solid rgba(0, 0, 0, 1);
  font-size: var(--sectionTitleFontSize);
  font-family: var(--font-inter);
  padding: 5px 50px 4px 10px;
  letter-spacing: 0;
  font-variation-settings: "wght" var(--font-press-start-bold);
}

.section_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-block-start: 2px solid rgba(0, 0, 0, 1);
  padding: 26px 61px 24px 24px;
  font-size: var(--paragraphFontSize);
  line-height: 1.167;
  font-family: var(--font-inter);
}

.image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-media {
  position: relative;
  width: 100%;
  max-width: 696px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.label {
  position: absolute;
  top: 27px;
  right: 25px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 1;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  text-shadow: 1px 0 0 var(--label-text-stroke-color),
    0 1px 0 var(--label-text-stroke-color),
    -1px 0 0 var(--label-text-stroke-color),
    0 -1px 0 var(--label-text-stroke-color); /*Пересмотреть значение по сторонам*/
}

@supports (text-stroke: 1px var(--label-text-stroke-color)) or
  (-webkit-text-stroke: 1px var(--label-text-stroke-color)) {
  .label {
    -webkit-text-stroke: 1px var(--label-text-stroke-color);
    text-stroke: 1px var(--label-text-stroke-color);
    text-shadow: none;
  }
}

.button {
  background-color: transparent;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

/*Кнопка like*/
.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
}

.button__text-like {
  text-transform: capitalize;
  line-height: 0.9;
  letter-spacing: 0;
}

.social-action {
  display: flex;
  justify-content: flex-end;
  padding-block-end: 25px;
  padding-inline-end: 25px;
  gap: 7px;
}

.card__like-button {
  padding-inline-end: 31px;
  padding-inline-start: 31px;
  position: relative;
}
/*Кнопка сохранения*/
.save-button {
  border: 2px solid rgba(0, 0, 0, 1);
  padding: 10px 18px 17px 15px;
  font-size: 0 /*убирает пробел между svg и span*/;
  margin-block-start: 1px;
  position: relative;
  color: #fff;
  background-color: #fff;
}

.button_save_text {
  font-size: 14px;
  margin-inline-start: 7px;
}

.button-container {
  text-align: center;
  margin-block-end: 100px;
}

.image_floppy {
  margin-inline-start: 3px;
  height: 21px;
  width: 21px;
  mix-blend-mode: difference;
}
/*кнопка сердце*/
.card__icon-button {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0);
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.sparks {
  opacity: 0;
}
/*эффекты*/
.button-all-states:focus {
  outline: none;
  box-shadow: 2px 2px 0px var(--color-mix);
}

.button-all-states:not(:focus) {
  box-shadow: none;
}

.button-all-states::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-mix);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-all-states:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-mix);
}
/*Фильтры*/
.image_saturate {
  filter: saturate(0.3);
}

.image_filter_neon {
  filter: hue-rotate(-5deg) saturate(2.2) brightness(1.1) contrast(1.05);
}

.image_hye {
  filter: hue-rotate(45deg);
}

.image_invert {
  filter: invert(0.8);
}

.image_sepia {
  filter: sepia(0.8);
}

.image_blur {
  filter: blur(5px);
}

.image_filter_dreamy {
  filter: hue-rotate(80deg) blur(2px) contrast(0.5);
}
/*Диалоговое окно*/
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dialog[open] {
  max-width: 353px;
  padding: 0;
  margin-block-end: 384px;
}

.title_dialog {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
}

.button_ok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 28px 30px 29px 27px;
  transition: box-shadow 0.3s ease;
}

.image_ok {
  width: 39px;
  height: 39px;
  flex: none;
}

.button_close {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: 29px;
  padding: 9.5px 130.5px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
}

@media (width <= 375px) {
  .section_text {
    padding: 26px 57px 23px 25px;
  }

  .section_title {
    padding: 6px 50px 4px 10px;
  }

  .main section:last-of-type .section_text {
    padding: 26px 44px 24px 25px;
  }

  .main section:last-of-type .section_title {
    padding: 7px 1px 3px 11px;
  }

  .save-button {
    display: flex;
    margin-inline-start: auto;
    margin-inline-end: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 11px 14px 13px 11px;
  }

  .image_floppy {
    width: 28px;
    height: 28px;
  }

  .button_ok {
    gap: 20px;
    padding: 27px 23px 7px 37px;
  }

  .button_close {
    padding: 10.5px 114.5px;
    margin-bottom: 25px;
    margin-top: 23px;
  }

  dialog[open] {
    margin-block-end: 242px;
    padding: 0;
    max-width: 341px;
  }
}
